# API Settings
PROJECT_NAME="NiveshIQ"
API_V1_STR="/api/v1"

DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

VERTEX_PROJECT_ID="your-gcp-project-id"
VERTEX_LOCATION="global"
GOOGLE_APPLICATION_CREDENTIALS="path/to/credentials.json"

NEON_AUTH_BASE_URL="neon-auth-base-url"
NEON_AUTH_COOKIE_SECRET="neon-auth-cookie-secret"

REDIS_URL="redis-url"